@model MeetingManagement.Models.MEETING
<div class="modal fade" style="overflow:hidden" id="modalFeedback" method="post" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" style="margin-top:0px" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                <h4 class="modal-title" id="myModalLabel">Lý do hủy cuộc họp</h4>
            </div>
            @using (Html.BeginForm("CancelModel", "Meetings", FormMethod.Post, new { id = "__AjaxAntiForgeryForm" }))
            {
                @Html.ValidationSummary(true, "", new { @class = "input--style-5-fixed area-input" })
                @Html.HiddenFor(model => model.Meeting_id)
                <div class="modal-body">
                    <div class="form-group">
                        <label for="comment">Trả lời:</label>
                        <div class="value">
                            <div class="input-group feedback-input">
                                @Html.TextAreaFor(model => model.Feedback, new { @class = "input--style-5-fixed area-input area-feedback", @rows = "5", @id = "textarea" })
                            </div>
                        </div>
                    </div>
                    <span class="textarea_count" id="charNum">0/150 ( Tối thiểu 150 kí tự ).</span>
                </div>
                <div class="modal-footer">
                    <button type="submit" style=" width: 100px; height: 50px;" class="btn btn-fixed yuki-btn-blue">Gửi</button>
                </div>
            }
        </div>
    </div>
</div>



<style>
    .textarea_count {
        float: right;
        position: relative;
        bottom: 10px;
        /*color: #ec0f0f;*/
        color: black
    }

    .feedback-input {
        width: 100%;
    }

    .area-feedback {
        width: 100% !important;
    }

    .yuki-card-footer {
        text-align: center;
        padding-bottom: 20px;
    }

    .btn-fixed {
        color: white;
        font-size: 14px;
        display: inline-block;
        width: 8em;
        height: 4em;
        text-align: center;
        border-radius: 4px;
    }

    .yuki-btn-blue {
        background-color: #008CBA !important;
    }

    .yuki-btn-gray {
        background-color: #808080 !important;
    }
</style>
<script>
    var mytextarea = document.getElementById('textarea');
    var remaincharCharsText = document.getElementById('charNum');
    var max_char = 500;

    mytextarea.addEventListener('input', () => {
        remaincharCharsText.textContent = mytextarea.value.length + "/150 ( Tối thiểu 150 kí tự ).";
    });
</script>
