
@{
    ViewBag.Title = "CreateUser";
    Layout = "~/Areas/User/Views/Shared/_Layout.cshtml";
}
<div class="modal fade" id="modalCreate" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header create-user-modalheader">
                <h4 class="modal-title"><center>Thêm Thành Phần Tham Dự</center></h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <div class="form-inline">

                    <label>Mời bạn nhập tên Email vào đây.</label>
                    <input type="text" class="form-control" id="" />
                    <button type="button" class="btn btn-success" data-toggle="modal" onclick="()">Thêm</button>

                </div>
                <div class="w3-container my-container">
                    <ul class="w3-ul w3-border">
                        <li class="create-user-header"><h2>Các Thành Viên Đã Thêm</h2></li>
                        @*<li class="create-user-title"><h2>Name</h2></li>*@
                    </ul>
                    <ul class="w3-ul w3-border create-user-scroll">
                        <li>thong.187pm06719@vanlanguni</li>
                        <li>thongabc@gmail.com</li>
                        <li>thongabc@gmail.com</li>
                        <li>thongabc@gmail.com</li>
                        <li>thongabc@gmail.com</li>
                        <li>thongabc@gmail.com</li>
                        <li>thongabc@gmail.com</li>
                        <li>thongabc@gmail.com</li>
                        <li>thongabc@gmail.com</li>
                        <li>thongabc@gmail.com</li>
                        <li>thongabc@gmail.com</li>
                        <li>thongabc@gmail.com</li>
                        <li>Adam</li>
                    </ul>
                </div>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">

            </div>

        </div>
    </div>
</div>

<style>
    .my-container {
        margin-top: 30px;
    }


    .create-user-header {
        background: #009FE5;
        color: white;
        padding: 0px !important;
        height: 57px;
    }

        .create-user-header h2 {
            font-size: 18px;
            margin: 0 0 0 16px;
            height: 57px;
            line-height: 57px;
        }

    .create-user-title {
        background: #f1f1f1;
        color: black;
        padding: 0px !important;
        height: 57px;
    }

        .create-user-title h2 {
            font-size: 18px;
            margin: 0 0 0 16px;
            height: 57px;
            line-height: 57px;
        }

    .create-user-scroll {
        overflow-y: scroll;
        max-height: 200px;
    }

    .create-user-modalheader {
        padding: 0px !important;
    }

        .create-user-modalheader h4 {
            padding: 0px !important;
            height: 44px;
            line-height: 44px;
        }

        .create-user-modalheader button {
            position: absolute;
            top: 15px;
            right: 20px;
        }
</style>





