@model MeetingManagement.Models.CATEGORY

@{
    ViewBag.Title = "Details";
}
<link href="~/Content/Meetings/meetingdetail.css" rel="stylesheet" />
<div class="body-navbar">

    <div class="nav-content-zone">

        <div class="lable-zone1">
            <div style="text-transform: uppercase;font-size:20px;margin-bottom:20px" ; class="header">
                @Html.Label(Model.Category_Name)
                <button class="create-meeting-btn" onclick="location.href = '@Url.Action("MeetingForm","MEETINGs", new { id = Model.Category_id})';">Tạo</button>

            </div>

        </div>
    </div>

</div>

@Html.Action("MeetingList", "Categories", new { id = Model.Category_id })





<style>
    .create-meeting-btn {
        float: right;
        width: 90px;
        height: 45px;
        background-color: #009FE5;
        color: white;
        border-radius: 5px;
        font-size: 16px
    }
    .lable-zone1 {
       
        color: black;
        line-height: 40px;
    }
</style>