@model IEnumerable<MeetingManagement.Models.CATEGORY>

@{
    ViewBag.Title = "Index";
}

<link href="~/Content/catalog-list.css" rel="stylesheet" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<header>
    Danh mục
</header>
<div class="wrapper">
    <ul class="catalogList">
        @foreach (var item in Model)
        {
            <li>
                @item.Category_Name
            </li>
        }

    </ul>
</div>
