@model IEnumerable<MeetingManagement.Models.CATEGORY>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/User/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/Meetings/meetingdetail.css" rel="stylesheet" />
<link href="~/Content/catalog-list.css" rel="stylesheet" />
@*<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">*@
<body>


    <div class="body-navbar">
       
        <div class="nav-content-zone">

            <div class="lable-zone1">
                <h2> Danh Mục</h2>
            </div>
        </div>

    </div>
    <div class="card-body card-body-fixed">
        <div id="time-table" class="user-ctg-index-table-zone">
            <div class="table user-ctg-index-table">
                @foreach (var item in Model)
                {
                    <div onclick="location.href = '@Url.Action("Details","Categories", new { id = item.Category_id})';">
                        @item.Category_Name
                    </div>
                }
            </div>
            @*<div class="wrapper">
                    <ul class="catalogList">
                        @foreach (var item in Model)
                        {

                            <li>
                                <div onclick="location.href = '@Url.Action("Details","Categories", new { id = item.Category_id})';">@item.Category_Name</div>
                            </li>
                        }

                    </ul>
                </div>*@
        </div>
    </div>
   
</body>

<style>
    .user-ctg-index-table-zone {
        width: 100%;
    }

    .user-ctg-index-table {
    }

        .user-ctg-index-table div {
            width: 100%;
            height: 50px;
            margin-bottom: 10px;
            /*background-color: #66c2ff;*/
            background-color: #e5e5e5;
            color: black;
            padding: 15px 50px;
            border-radius: 3px;
            cursor:pointer;
        }



            .user-ctg-index-table div:hover {
                background-color: #009FE5;
            }

            .user-ctg-index-table div p {
                font-weight: bold;
                font-size: 16px;
            }


    /*.user-ctg-index-table tbody tr:hover td {
                background-color: #f1f1f1;
            }*/
    .user-ctg-index-button {
        float: right;
        width: 60px;
        height: 30px;
        background-color: #009FE5;
        color: white;
        border-radius: 5px;
        margin-top: -30px;
        border: 0px;
    }

    .user-ctg-index-header {
        width: 1300px;
        margin: 20px 0px;
    }

        .user-ctg-index-header h1, h2, h3, h4, h5, h6 {
            margin: 0px;
        }

    .user-ctg-index-manipulation {
        float: right;
        margin: 0px 2.5px;
        color: black;
    }
    .card-body-fixed {
        position: relative;
        top: 50px;
        width: 100%;
        height: 800px;
        z-index: 1;
    }
    .lable-zone1 {
        display: inline-block;
        position: absolute;
        color: black;
        line-height: 40px;
    }

</style>

