
@{
    ViewBag.Title = "Taocuochop";
}
@{
    Layout = "~/Areas/User/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html lang="en">

<head>

    <!-- Icons font CSS-->

    <link href="~/taocuochop/vendor/font-awesome-4.7/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/taocuochop/vendor/font-awesome-4.7/css/font-awesome.css" rel="stylesheet" />

    <!-- Font special for pages-->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <!-- Vendor CSS-->

    <link href="~/taocuochop/vendor/select2/select2.min.css" rel="stylesheet" />


    <link href="~/taocuochop/vendor/datepicker/daterangepicker.css" rel="stylesheet" />
    <!-- Main CSS-->

    <link href="~/taocuochop/css/main.css" rel="stylesheet" />
</head>

<body>
    <div class="page-wrapper bg-gra-03 p-t-45 p-b-50">
        <div class="wrapper wrapper--w790">
            <div class="card card-5">
                <div class="card-heading">
                    <h2 class="title">Tạo Cuộc Họp</h2>
                </div>

                <div class="card-body">

                    <form method="POST">
                        <div class="form-row">
                            <div class="name">Tên Cuộc Họp</div>
                            <div class="value">
                                <div class="input-group">
                                    <input class="input--style-5" type="text" name="company">

                                </div>
                            </div>
                        </div>

                        <div class="form-row m-b-55">
                            <div class="name">Ngày/Giờ</div>
                            <div class="value">

                                <div class="row row-space">
                                    <div class="col-2">
                                        <div class="input-group-desc">
                                            <input class="input--style-5" type="date" id="" name="">
                                            <label class="label--desc">Ngày Họp</label>


                                        </div>
                                    </div>
                                    <div class="col-2">
                                        <div class="input-group-desc">
                                            <input class="input--style-5" type="time" id="" name="">

                                            <label class="label--desc">Thời Gian</label>


                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="name">Địa Điểm</div>
                            <div class="value">
                                <div class="input-group">
                                    <input class="input--style-5" type="text" name="company">
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="name">Mục Tiêu Buổi Họp</div>
                            <div class="value">
                                <div class="input-group">
                                    <textarea class="input--style-5" rows="5" id="comment" style="margin: 0px; width: 400px; height: 73px;"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="name">Nội Dung Cuộc Họp</div>
                            <div class="value">
                                <div class="input-group">
                                    <textarea class="input--style-5" rows="5" id="comment" style="margin: 0px; width: 400px; height: 73px;"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="name">Người Tham Dự:</div>
                            <div>
                                <button type="button" class="btn btn-primary" data-toggle="modal" onclick="getCreateModal()">
                                    Thêm+
                                </button>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="name">Người Ngoài Trường:</div>
                            <div>
                                <button type="button" class="btn btn-primary" data-toggle="modal" onclick="getCreateModal2()">
                                    Thêm+
                                </button>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="name">Tài Liệu Đính Kèm:</div>
                            <div>
                                <div class="form-group">
                                    <input type="file" class="form-control-file border" name="file">
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div>
                    <button type="button" class="btn btn--blue btn-lg btn-block" data-toggle="modal" onclick="()">Tạo</button>
                </div>
               
            </div>
        </div>
    </div>

    <div id="Popup"></div>
    <div id="Popup2"></div>



    <!-- Jquery JS-->

    <script src="~/taocuochop/vendor/jquery/jquery.min.js"></script>
    <!-- Vendor JS-->

    <script src="~/taocuochop/vendor/select2/select2.min.js"></script>

    <script src="~/taocuochop/vendor/datepicker/moment.min.js"></script>

    <script src="~/taocuochop/vendor/datepicker/daterangepicker.js"></script>
    <!-- Main JS-->

    <script src="~/taocuochop/js/global.js"></script>
</body>

</html>
<script>
    function getCreateModal() {
        $.ajax({
            url: "CreateUser",
            datatype: 'html',
            method: 'GET',
            data: {},
            success: function (data) {
                $("#Popup").html(data);

                $("#modalCreate").modal("show");
            },
            error: function (err) {
                console.log(err);
            }
        })
    }
    function getCreateModal2() {
        $.ajax({
            url: "CreateUser2",
            datatype: 'html',
            method: 'GET',
            data: {},
            success: function (data) {
                $("#Popup2").html(data);

                $("#modalCreate2").modal("show");
            },
            error: function (err) {
                console.log(err);
            }
        })
    }
</script>