
@{
    ViewBag.Title = "CreateUser";
}
<div class="modal fade" id="modalCreate" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title"><center>Thêm Thành Phần Tham Dự</center></h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <div class="form-inline">

                    <label>Mời bạn nhập tên Email vào đây.</label>
                    <input type="text" class="form-control" id="" />
                    <button type="button" class="btn btn-success" data-toggle="modal" onclick="()">Thêm</button>

                </div>
                <div class="w3-container">
                    <h2><center>Các Thành Viên Đã Thêm</center></h2>
                    <ul class="w3-ul w3-border">
                        <li><h2>Name</h2></li>
                        <li>thong.187pm06719@vanlanguni</li>
                        <li>thongabc@gmail.com</li>
                        <li>Adam</li>
                    </ul>
                </div>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
               
            </div>

        </div>
    </div>
</div>




