@model IEnumerable<MeetingManagement.Models.MEETING>
@{
    ViewBag.Title = "Index";
}
<body>
    <div class="table-zone">
        <div class="table-title">
            <p>Cuộc Họp Chờ Duyệt</p>
        </div>
        <div class="table-header">
            <ul>
                <li class="col1">
                    Danh mục
                    <button class="filter">
                        @*<img src="~/Content/outline_filter_alt_black_24dp.png">*@
                    </button>
                </li>
                <li class="col2">
                    Cuộc họp
                    <button class="filter">
                        @*<img src="~/Content/outline_filter_alt_black_24dp.png">*@
                    </button>
                </li>
                <li class="col3">
                    Người chủ trì
                    <button class="filter">
                        @*<img src="~/Content/outline_filter_alt_black_24dp.png">*@
                    </button>
                </li>
                <li class="col4">
                    Ngày tạo
                    <button class="filter">
                        @*<img src="~/Content/outline_filter_alt_black_24dp.png">*@
                    </button>
                </li>
            </ul>
        </div>
        <table>
            <tbody>
                <tr>
                    <td>Biên bản họp CAP K24 K2022</td>
                    <td>Họp với Mentor Team7</td>
                    <td>Thái Minh Hiếu</td>
                    <td>03/06/2021</td>
                </tr>
                <tr>
                    <td>Biên bản họp CAP K23 K2022</td>
                    <td>Họp với Mentor Team8</td>
                    <td>Hương Khôn Vũ</td>
                    <td>04/06/2021</td>
                </tr>
                <tr>
                    <td>Biên bản họp Bộ Môn Khoa CNTT 2022</td>
                    <td>Đồ án lập trình cho SV</td>
                    <td>Bùi Minh Phụng</td>
                    <td>10/05/2021</td>
                </tr>
                <tr>
                    <td>Biên bản họp Bộ Môn Khoa CNTT 2022</td>
                    <td>Đồ án lập trình cho SV</td>
                    <td>Bùi Minh Phụng</td>
                    <td>10/05/2021</td>
                </tr>
                <tr>
                    <td>Biên bản họp Bộ Môn Khoa CNTT 2022</td>
                    <td>Đồ án lập trình cho SV</td>
                    <td>Bùi Minh Phụng</td>
                    <td>10/05/2021</td>
                </tr>
                <tr>
                    <td>Biên bản họp Bộ Môn Khoa CNTT 2022</td>
                    <td>Đồ án lập trình cho SV</td>
                    <td>Bùi Minh Phụng</td>
                    <td>10/05/2021</td>
                </tr>
            </tbody>
        </table>
    </div> <!---Table 1-->

    <div class="table-zone">
        <div class="table-title">
            <p>Cuộc Họp Chờ Duyệt</p>
        </div>
        <div class="table-header">
            <ul>
                <li class="col1">
                    Danh mục
                    <button class="filter">
                        @*<img src="~/Content/outline_filter_alt_black_24dp.png">*@
                    </button>
                </li>
                <li class="col2">
                    Cuộc họp
                    <button class="filter">
                        @*<img src="~/Content/outline_filter_alt_black_24dp.png">*@
                    </button>
                </li>
                <li class="col3">
                    Người chủ trì
                    <button class="filter">
                        @*<img src="~/Content/outline_filter_alt_black_24dp.png">*@
                    </button>
                </li>
                <li class="col4">
                    Ngày tạo
                    <button class="filter">
                        @*<img src="~/Content/outline_filter_alt_black_24dp.png">*@
                    </button>
                </li>
            </ul>
        </div>
        <table>
            <tbody>
                <tr>
                    <td>Biên bản họp CAP K24 K2022</td>
                    <td>Họp với Mentor Team7</td>
                    <td>Thái Minh Hiếu</td>
                    <td>03/06/2021</td>
                </tr>
                <tr>
                    <td>Biên bản họp CAP K23 K2022</td>
                    <td>Họp với Mentor Team8</td>
                    <td>Hương Khôn Vũ</td>
                    <td>04/06/2021</td>
                </tr>
                <tr>
                    <td>Biên bản họp Bộ Môn Khoa CNTT 2022</td>
                    <td>Đồ án lập trình cho SV</td>
                    <td>Bùi Minh Phụng</td>
                    <td>10/05/2021</td>
                </tr>
                <tr>
                    <td>Biên bản họp Bộ Môn Khoa CNTT 2022</td>
                    <td>Đồ án lập trình cho SV</td>
                    <td>Bùi Minh Phụng</td>
                    <td>10/05/2021</td>
                </tr>
                <tr>
                    <td>Biên bản họp Bộ Môn Khoa CNTT 2022</td>
                    <td>Đồ án lập trình cho SV</td>
                    <td>Bùi Minh Phụng</td>
                    <td>10/05/2021</td>
                </tr>
                <tr>
                    <td>Biên bản họp Bộ Môn Khoa CNTT 2022</td>
                    <td>Đồ án lập trình cho SV</td>
                    <td>Bùi Minh Phụng</td>
                    <td>10/05/2021</td>
                </tr>
            </tbody>
        </table>
    </div> <!---Table 2-->
    @*<div id="footer">
            <div class="pure-g footer-col">
                <div class="pure-u-1-3 ">
                    INFO
                    <p></p>
                </div>
                <div class="pure-u-1-3 "> CONTACT US </div>
                <div class="pure-u-1-3 "> GET SOCIAL </div>
            </div>
        </div>*@ <!--Footer-->

</body>
