* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden;
}

#header {
    height: 80px;
    background-color: #0073A5;
    width: 100%;
}

.side-bar {
    height: 80px;
    width: 160px;
    position: absolute;
}

#nav {
    display: block;
    position: relative;
    width: 160px;
    background-color: white;
}

    #nav li {
        background-color: #009FE5;
        width: 180px;
        margin-top: 15px;
        height: 50px;
        line-height: 30px;
        color: white;
        text-align: center;
        border-top: 2px white solid;
        border-bottom: 2px white solid;
    }

        #nav li:hover {
            background-color: black;
        }

.logo {
    display: inline-block;
    margin-right: 50%;
    height: 60px;
    width: 60px;
    margin-left: 40%;
    margin-top: 0;
}

.login {
    float: right;
    position: relative;
    left: -80px;
    top: -30px
}

h4 {
    color: black;
}

#content {
    height: 1500px;
    background-color: white;
    margin-left: 15%;
    border: 3px #fafafa solid;
}

.header {
    background-color: white;
    width: 100%;
    margin-left: 50px;
}

    .header h1 {
        display: inline-block;
    }
    
button{
    border-radius:12px;
    top:200px;
}







