@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@600&display=swap');
* {
    padding: 0;
    margin: 0;
    font-family: Mulish;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

body {
}

.body-content {
    position: absolute;
    top: 0px;
}

#yuki-body {
    font-size: 14px;
    font-weight: 300;
    color: #333;
    line-height: 1.254;
    margin: 0;
    padding: 0;
}


.yuki-a {
    text-decoration: none;
    color: #28aae1;
}

    .yuki-a:hover, .yuki-a :visited {
        color: #265778;
    }


/*==Chia cột website==*/
/*.yuki-container {
    position: relative;
    left: 0px;
    width: 100%;
    height: 2000px;
}*/

/*==Menu==*/
#yuki-menu {
    position: fixed;
    z-index: 10;
    height: 100%;
    background-color: #e5e5e5;
    width: 150px;
    left: 0px;
    top: 50px;
    box-shadow: inset -0.01em 0em 5px grey
}

    #yuki-menu ul {
        list-style-type: none;
        padding: 0px;
        margin: 0px;
    }

        #yuki-menu ul li {
            line-height: 2.9em;
            height: 2.9em;
            position: relative;
            background: #009FE5;
            border-bottom: 1px solid #f1f1f1;
            margin-bottom: 0.25em;
            font-family: 'Open Sans', sans-serif;
        }

            #yuki-menu ul li a {
                display: block;
                color: #ffffff;
                padding: 0px 1em;
                text-decoration: none;
            }

            #yuki-menu ul li:hover {
                background-color: #454545;
            }

==Content==
.yuki-body-content {
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    left: 0px;
}


/*--#header--*/
#yuki-nav-bar {
    text-align: center;
    position: fixed;
    top: 0px;
    left: 0px;
    height: 50px;
    width: 100%;
    z-index: 10;
    background-color: #0073A5;
}

#nav-bar div {
    position: absolute;
    left: 701px;
}

#yuki-nav-bar img {
    position: fixed;
    left: calc((100% - 58px)/2);
    width: 116.537px;
    height: 45px;
}

.yuki-login-info {
    position: relative;
    right: 20px;
    top: 7px;
}
/*--#table--*/
.yuki-table-zone {
    position: relative;    
    margin-bottom: 20px;
    display: block;
    padding-top: 35px;
    width: 100%;
    height: 400px;
    z-index: 0;
    border: 1px solid #e5e5e5;
}


    .yuki-table-zone > table {
        display: block;
        width: 100%;
        height: calc(100% - 48px);
        max-height: 400px;
        overflow-y: overlay;
        table-layout: fixed;
    }

        .yuki-table-zone > table > th {
            width: 400px;
            height: 50px;
            text-align: center;
            position: sticky;
            background: #f1f1f1;
            top: 0px;
        }

        .yuki-table-zone > table > tbody {
            width: 100%;
            height: 100%;
            display: block;
        }

            .yuki-table-zone > table > tbody > tr {
                display: block;
                max-height: 48px;
            }

                .yuki-table-zone > table > tbody > tr > td {
                    height: 48px;
                    border-top: 1px solid #f1f1f1;
                    border-bottom: 1px solid #f1f1f1;
                    background: white;
                    text-align: center;
                    word-break: break-all;
                    display: block;
                    line-height: 3.5;
                    overflow: hidden;
                }


                .yuki-table-zone > table > tbody > tr:hover > td {
                    background-color: #f1f1f1;
                }

.yuki-table-title {
    background: #009FE5;
    height: 35px;
    width: 100%;
    top: 0px;
    position: absolute;
}

    .yuki-table-title p {
        color: white;
        font-weight: bold;
        margin: 7.5px;
    }

.yuki-table-out-header {
    background-color: #f1f1f1;
    width: 100%;
    height: 48px;
    text-align: center;
    border-bottom: 1px solid #e5e5e5;
}

.filter {
    width: 35px;
    height: 46px;
    position: absolute;
    padding: 0px;
    border: 0px;
    right: 50px;
}

    .filter img {
        width: 15px;
        height: 15px
    }

    .filter:hover {
        background: #bfbfbf;
    }

.yuki-table-out-header ul {
    padding: 0px;
    margin: 0px;
}

    .yuki-table-out-header ul li {
        display: block;
        height: 48px;
        line-height: 48px;
    }

.yuki-column-4 {
    column-count: 4;
    column-gap: 0px;
}

/*Thanh tinh trang*/
/*td .pending-status {
        background: #C0C0C0;
        border-radius: 10px;
        width: 30%;
        color: white;
        margin: auto;
    }
    td .waiting-status {
        background: #FFC400;
        border-radius: 10px;
        width: 30%;
        color: white;
        margin: auto;
    }
    td .missing-status {
        background: #F12B2C;
        border-radius: 10px;
        width: 45%;
        color: white;
        margin: auto;
    }
    td .incomplete-status {
        background: #FF9900;
        border-radius: 10px;
        width: 45%;
        color: white;
        margin: auto;
    }
    td .complete-status {
        background: #18e750;
        border-radius: 10px;
        width: 30%;
        color: white;
        margin: auto;
    }
    td .complete-status {
        background: #29CC97;
        border-radius: 10px;
        width: 30%;
        color: white;
        margin: auto;
    }*/

tr:hover td {
    background-color: #f1f1f1;
}

.yuki-column-3 {
    column-count: 3;
    column-gap: 0px;
}


/*--#footer--*/
#yuki-footer {
    display: block;
    position: absolute;
    width: 100%;
    height: 200px;
    bottom: 0px;
    background: white;
    border-top: 10px solid #009FE5;
}

#yuki-footer-col {
    height: 100%;
    padding: 20px;
}

    #yuki-footer-col div {
        height: 100%;
        width: 30%;
        padding: 20px;
        margin: 0px 10px;
        border: 0.5px solid black;
        color: black;
        font-size: 18px;
        font-weight: bold;
        font-family: 'Open Sans', sans-serif !important;
    }

        #yuki-footer-col div p {
            font-size: 14px;
        }
/*Thanh tinh trang*/
.basic-status {
    border-radius: 10px;
    width: 130px;
    padding: 0px 20px;
    color: white;
    margin: auto;
    text-align: center;
}

td .pending-status, .pending-status {
    background: #C0C0C0;
    border-radius: 10px;
    padding: 0px 20px;
    width: 130px;
    color: white;
    margin: auto;
    text-align: center;
}

td .cancel-status, .cancel-status {
    background: #ff4d4d;
    border-radius: 10px;
    width: 130px;
    padding: 0px 20px;
    color: white;
    margin: auto;
    text-align: center;
}

td .waiting-status, .waiting-status {
    background: #ff9800;
    border-radius: 10px;
    width: 130px;
    padding: 0px 20px;
    color: white;
    margin: auto;
    text-align: center;
}

td .missing-status, .missing-status {
    background: #03a9f4;
    border-radius: 10px;
    width: 130px;
    padding: 0px 20px;
    color: white;
    margin: auto;
    text-align: center;
}

td .incomplete-status, .incomplete-status {
    background: #536eff;
    border-radius: 10px;
    width: 130px;
    padding: 0px 20px;
    color: white;
    margin: auto;
    text-align: center;
}

td .complete-status, .complete-status {
    background: #29cc76;
    border-radius: 10px;
    width: 130px;
    padding: 0px 20px;
    color: white;
    margin: auto;
    text-align: center;
}
