<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/Content/quyhung/css/outplay.css" rel="stylesheet" />
    <title>Van Lang Meeting</title>
</head>
<body>
    <!-- header -->
    <header>
        <a href="#"><img src="	https://sukien.vanlanguni.edu.vn/images/logo.png" class="logo"></a>
    </header>

    <!-- slide bar -->
    <div class="slide-bar">
        <ul>
            <li class="list">
                <b></b>
                <b></b>
                <a href="#">
                    <span class="icon">
                        <ion-icon name="person-outline"></ion-icon>
                    </span>
                    <span class="title">Hưng Nguyễn</span>
                </a>
            </li>
            <li class="list active">
                <b></b>
                <b></b>
                <a href="#">
                    <span class="icon">
                        <ion-icon name="home-outline"></ion-icon>
                    </span>
                    <span class="title">Trang chủ</span>
                </a>
            </li>
            <li class="list">
                <b></b>
                <b></b>
                <a href="#">
                    <span class="icon">
                        <ion-icon name="reader-outline"></ion-icon>
                    </span>
                    <span class="title">Công việc</span>
                </a>
            </li>
            <li class="list">
                <b></b>
                <b></b>
                <a href="#">
                    <span class="icon">
                        <ion-icon name="accessibility-outline"></ion-icon>
                    </span>
                    <span class="title">Cuộc họp</span>
                </a>
            </li>
            <li class="list">
                <b></b>
                <b></b>
                <a href="#">
                    <span class="icon">
                        <ion-icon name="list-outline"></ion-icon>
                    </span>
                    <span class="title">Danh mục</span>
                </a>
            </li>
            <li class="list">
                <b></b>
                <b></b>
                <a href="#">
                    <span class="icon">
                        <ion-icon name="heart-outline"></ion-icon>
                    </span>
                    <span class="title">Yêu thích</span>
                </a>
            </li>
        </ul>
    </div>

    <!-- btn close open slide -->
    <div class="toggle">
        <ion-icon class="open" name="menu-outline"></ion-icon>
        <ion-icon class="close" name="close-outline"></ion-icon>
    </div>


    <!--Content-Main-->
    <div class="main">
        @RenderBody()

    </div>







    <!--js-->
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <script src="~/Content/quyhung/js/outplay.js"></script>

</body>

</html>