@model IEnumerable<MeetingManagement.Models.MEETING>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/HeadOfDepartment/Views/Shared/_Layout.cshtml";
}


<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>


