<div class="file-loading">
    <input id="input-ficons-3" name="input-ficons-3[]" multiple type="file">
</div>

<script>
    $("#myfile").val();

    $("#input-ficons-3").fileinput({
        uploadUrl: "",
        previewFileIcon: '<i class="fas fa-file"></i>',
        allowedPreviewTypes: ['image', 'text'], // allow only preview of image & text files
        previewFileIconSettings: {
            'docx': '<i class="fas fa-file-word text-primary"></i>',
            'xlsx': '<i class="fas fa-file-excel text-success"></i>',
            'pptx': '<i class="fas fa-file-powerpoint text-danger"></i>',
            'pdf': '<i class="fas fa-file-pdf text-danger"></i>',
            'zip': '<i class="fas fa-file-archive text-muted"></i>',
        }
    });
</script>
<style>
    /*upload zone*/
    .file-caption div {
        display: flex;
        overflow: inherit;
    }
    .btn-outline-secondary {
        display: none;
    }
    .btn-file input[type=file]{
        width:100%;
    }

    .file-caption {
        width: fit-content;
        position: absolute;
        right: 0px;
    }

</style>