@model IEnumerable<MeetingManagement.Models.MEETING>

<div id="table-content">
    <table class="table">
        <thead >
            <tr >
                <th style="background-color: #009FE5;color:white"; scope="col">Tên cuộc họp</th>
                <th style="background-color: #009FE5;color:white"; scope="col">Người chủ trì</th>
                <th style="background-color: #009FE5;color:white"; scope="col">Ngày họp</th>
                <th style="background-color: #009FE5;color:white"; scope="col">Trình trạng</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var meeting in Model)
            {
                <tr>
                    <td>@meeting.Meeting_name</td>
                    <td>@meeting.AspNetUser.UserName</td>
                    <td>@meeting.Date_Start</td>
                    <td>@meeting.Status</td>
                </tr>
            }

        </tbody>
    </table>
</div>
