@{
    ViewBag.Title = "Index";
}
<link href="~/Content/HomePage.css" rel="stylesheet" />

<div class="row">
    @Html.Action("IndexMeetingList", "HomePage")
</div>
<div style="height:20px;"></div>
<div class="row">
    @*    <div class="col-md-6" style="padding:0px">
            @Html.Action("IndexCateList")
        </div>*@
    @Html.Action("IndexTaskList", "HomePage")
</div>

<style>
    .body-content {
        position: absolute;
        top: 0px;
    }

    /*    .row-pos{
        padding-top:20px;
        width:1125px;
        height: 500px;
        margin: 0px auto;
    }*/
</style>


