@model IEnumerable<MeetingManagement.Models.TASK>


<div class="yuki-table-zone yuki-table-zone-fixed" style=" border: 1px solid #e5e5e5; ">
    <div class="table-head">Danh Sách Công Việc</div>

    <div class="yuki-table-out-header">
        <ul class="yuki-column-3">
            <li>Tên công việc</li>
            <li>Cuộc họp</li>
            <li>Ngày hoàn thành</li>
        </ul>
    </div>
    <table class="ml-table">
        @if (ViewBag.task != null)
        {
            <tbody>
                @foreach (var ut in ViewBag.task)
                {
                    <tr>
                        <td>
                            @ut.Task_name
                        </td>
                        <td>
                            @foreach (var um in ViewBag.meeting)
                            {
                                @um.Meeting_name
                            }
                        </td>
                        <td>
                            @Convert.ToDateTime(ut.Task_Deadline).ToString("MM/dd/yyyy")
                        </td>

                    </tr>
                }
            </tbody>
        }
    </table>
</div>


<style>
    .tl-table {
        border: 1px solid black;
    }
</style>
