<div class="table-head ">Danh Sách Công Việc</div>
<table class="table tl-table">
    <thead>
        <tr>
            <th>Tên công việc</th>
            <th>Cuộc họp</th>
            <th>Ngày hoàn thành</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                Sửa front end
            </td>
            <td>
                Họp với mentor-Team 1
            </td>
            <td>
                20/6/2021
            </td>
        </tr>
    </tbody>
</table>

<style>
    .tl-table {
        border: 1px solid black;
    }
</style>
