@model IEnumerable<MeetingManagement.Models.TASK>
<div class="table-head ">Danh Sách Công Việc</div>
<table class="table tl-table">
    <thead>
        <tr>
            <th>Tên công việc</th>
            <th>Cuộc họp</th>
            <th>Ngày hoàn thành</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            @foreach (var ut in ViewBag.myTask)
            {
                <td>
                    @ut.Task_name
                </td>
                <td>
                    @foreach (var um in ViewBag.meeting)
                    {
                        @um.Meeting_name
                    }
                </td>
                <td>
                    @Convert.ToDateTime(ut.Task_Deadline).ToString("MM/dd/yyyy")
                </td>
            }
        </tr>
    </tbody>
</table>

<style>
    .tl-table {
        border: 1px solid black;
    }
</style>
