@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/User/Views/Shared/_Layout.cshtml";
}
<div class="row">
        @Html.Action("IndexMeetingList")
</div>
<div class="row">
    @*<div class="col-md-6" style="padding:0px">
        @Html.Action("IndexCateList")
    </div>*@
    <div class="col-md-12" style=" padding: 0px 100px; margin-top: 20px">
        @Html.Action("IndexTaskList")
    </div>
</div>

<style>
    .body-content {
        position: absolute;
        top: 0px;
    }
  
</style>


