<table style="border:solid;border-top:none;">
    <thead>
        <tr>
            <th>Tên công việc</th>
            <th>Cuộc họp</th>
            <th>Ngày hoàn thành</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                Sửa front end
            </td>
            <td>
                Họp với mentor-Team 1
            </td>
            <td>
                20/6/2021
            </td>
        </tr>
    </tbody>
</table>
