

        
        <table style="border:solid;border-top:none;">
            <thead>
                <tr>
                    <th>Tên cuộc họp</th>
                    <th>Người chủ trì</th>
                    <th>Ngày diễn ra</th>
                    <th>Tình trạng</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        Họp với mentor-Team 1
                    </td>
                    <td>
                        Hương Khôn Vũ
                    </td>
                    <td>
                        20/6/2021
                    </td>
                    <td>
                      <div class="unstart-status">chưa họp</div>  
                    </td>
                </tr>
            </tbody>
        </table>


