@using MeetingManagement.Models;    
@model IEnumerable<MeetingManagement.Models.TasksBCN>
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/HeadOfDepartment/Views/Shared/_Layout.cshtml";
    SEP24Team7Entities db = new SEP24Team7Entities();
    var task = db.TASKs;
    var meet = db.MEETINGs;
    
}

<link href="~/Content/quyhung/css/accodion-css.css" rel="stylesheet" />
<div class="accordion">
    @foreach (var x in Model)
    {
            <div class="boxItem">
                <button class="contentBox">
                    <strong>@x.MeetingName</strong><i class="fas fa-angle-down"></i>
                </button>

                <div class="content">
                    <table>
                        <tbody>
                            <tr>
                                <td>@x.TaskName</td>
                                <td>@x.DueDate</td>
                                <td>@x.FullName</td>
                                <td>
                                    @if (x.Status == true)
                                    {
                                        <div class="complete-status" style="width:90px">Hoàn thành</div>
                                    }
                                    else
                                    {
                                        <div class="incomplete-status" style="width:130px">Chưa hoàn thành</div>
                                    }
                                </td>
                                <td>
                                    @if (x.Status == true)
                                    {
                                        <ion-icon name="notifications-off-outline" style="width:30px;height:30px"></ion-icon>
                                    }
                                    else if (x.Status == false)
                                    {
                                        <a href="#"><ion-icon name="notifications-outline" style="width:30px;height:30px"></ion-icon></a>
                                    }
                                </td>
                            </tr>
                        </tbody>
                    </table>
                        <div class="progress">
                            <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40"
                                 aria-valuemin="0" aria-valuemax="100" style="width:70%">
                                70% Complete (success)
                            </div>
                        </div>
                </div>
                
            </div>
        }
    }
    </div>

<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
<script src="~/Content/quyhung/js/accodion-scripts.js"></script>