@model MeetingManagement.Models.CATEGORY

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>


<div id="myCreateModal" class="modal fade" role="dialog">
    <div class="modal-dialog" style="width:460px;">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Tạo Danh Mục Mới</h4>
            </div>
            <div class="modal-body">
            <form action="Create">
                    <div class="form-group"></div>
                    <div class="catalog-form_group form-group">
                         @Html.TextBoxFor(model => model.Category_Name, new { @class = "catalog-form_input", @placeholder = "Tên danh mục" })
                    </div>
                    </div>
                    <div class="form-group">
                    <div class="catalog-form_group form-group">
                        @Html.TextAreaFor(model => model.Category_Content, new { @class = "catalog-form_input", @placeholder = "Mô tả", @style = "margin-top: 16px", @rows = "5", @cols = "20" })
                    </div>
            </form>

</div>
            <div class="modal-footer">
                <button onclick="saveCategory()" class="btn btn--primary" >Tạo</button>
                <button class="btn btn-normal " data-dismiss="modal">Hủy</button>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript">
    function saveCategory() {
        var Category_Name = $("#Category_Name").val();
        var Category_Content = $("#Category_Content").val();
        var catinsert = { "Category_Name": Category_Name, "Category_Content": Category_Content }
        $.post('/categories/Create', catinsert,
            function (data) { if (data == 0) { location = location.href; } }, 'json');
        alert("Tạo Danh Mục Thành Công");

    }

</script>

