@model MeetingManagement.Models.CATEGORY

<div id="myDeleteModal" class="modal fade" role="dialog">
    <div class="modal-dialog" style="width:500px;">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Xóa danh mục</h4>
            </div>
            <div class="modal-body">

                <form action="Delete">
                    @Html.HiddenFor(m => m.Category_id)
                    Bạn thật sự muốn xóa "@Html.DisplayFor(m => m.Category_Name)" ?
                </form>

            </div>
            <div class="modal-footer">
                <button class="btn btn--delete" onclick="DeleteCat()">Xóa</button>
                <button class="btn btn-normal " data-dismiss="modal">Hủy</button>
            </div>
        </div>
        <div style="text-align:center;display:none" id="loader-div">
            <img src="~/imgs/Walk.gif" style="height:100px;width:100px" />
        </div>
    </div>
</div>


<script>
    function DeleteCat() {
        var id = $("#Category_id").val();
        $.ajax({
            type: "POST",
            url: '@Url.Action("Delete", "categories")',
            data: {id:id},
    success: function () {
        $("#myDeleteModal").modal("hide");
    alert("Xoá Thành Công");
        }
    })
 }
</script>


