@model MeetingManagement.Models.CATEGORY

<div id="myDeleteModal" class="modal fade" role="dialog">
    <div class="modal-dialog" style="width:500px;">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Xác Nhận Xoá Danh Mục</h4>
            </div>
            <div class="modal-body">
                <form action="Delete">
                    @Html.HiddenFor(m => m.Category_id)
                    Bạn có thật sự muốn xóa danh mục "@Html.DisplayFor(m => m.Category_Name)" ?
                </form>

            </div>
            <div class="modal-footer">
                <button class="btn btn--delete">Xóa</button>
                <button class="btn btn-normal " data-dismiss="modal">Hủy</button>
            </div>
        </div>
    </div>
</div>




