@model MeetingManagement.Models.CATEGORY
@using MeetingManagement.Models


@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/HeadOfDepartment/Views/Shared/_Layout.cshtml";
    SEP24Team7Entities db = new SEP24Team7Entities();
    var task = db.TASKs;
    var meet = db.MEETINGs;

}
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<link href="~/Content/quyhung/css/accodion-css.css" rel="stylesheet" />
<link href="~/Content/quyhung/css/drop-down-box.css" rel="stylesheet" />

<div id="container">
    <div style="text-transform: uppercase;font-size:20px;margin-bottom:20px" ; class="header">
        @Html.Label(Model.Category_Name)
        <button style="float: right; width: 90px;height: 45px;
        background-color: #009FE5; color: white;
        border-radius: 5px;font-size:16px"
                onclick="location.href = '@Url.Action("MeetingForm","MEETINGs", new { id = Model.Category_id})';">
            Tạo
        </button>

        <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal"
                style="float: right; width: 90px;height: 45px;
        background-color: #009FE5; color: white;margin-right:10px;
        border-radius: 5px;font-size:16px">
            Thống kê
        </button>
@*
        <div class="dropdown">
            <button class="dropbtn"  style="float: right; width: 90px;height: 45px;
        background-color: #009FE5; color: white;
        border-radius: 5px;font-size:16px">Chọn</button>
            <div class="dropdown-content">
                <a href="#">Link 1</a>
                <a href="#">Link 2</a>
                <a href="#">Link 3</a>
            </div>
        </div>*@
    </div>
    @Html.Action("MeetingList", "MEETINGs", new { id = Model.Category_id })

    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">
             Modal content
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Danh sách công việc trong danh mục @Html.Label(Model.Category_Name)</h4>
                </div>
                <div class="modal-body">
                    <div class="dropdown">
                        <button class="dropbtn">Chọn</button>
                        <div class="dropdown-content">
                            <a href="#">Link 1</a>
                            <a href="#">Link 2</a>
                            <a href="#">Link 3</a>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>
</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<script src="~/Content/quyhung/js/accodion-scripts.js"></script>