@model MeetingManagement.Models.CATEGORY


<div id="myEditModal" class="modal fade" role="dialog">
    <div class="modal-dialog" style="width:460px;">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Sửa danh mục</h4>
            </div>
            <div class="modal-body">
                <form action="Edit" method="post">
                    @Html.HiddenFor(model => model.Category_id)
                    <div class="catalog-form_group form-group">
                        @Html.TextBoxFor(model => model.Category_Name, new { @class = "catalog-form_input" })
                    </div>
                    <div class="catalog-form_group form-group">
                        @Html.TextAreaFor(model => model.Category_Content, new { @class = "catalog-form_input", @style = "margin-top: 16px", @rows = "5", @cols = "20" })
                    </div>
                    @Html.HiddenFor(m => m.CreateBy_id);
                </form>

            </div>
            <div class="modal-footer">
                <button class="btn btn--primary">Sửa</button>
                <button class="btn btn-normal " data-dismiss="modal">Hủy</button>
            </div>
        </div>
    </div>
</div>
