@model IEnumerable<MeetingManagement.Models.CATEGORY>

@{
    ViewBag.Title = "Index";
}
<link href="~/Content/catalog-list.css" rel="stylesheet" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<header>
    Danh mục
    <button class="btn modal-btn" onclick="ShowCreatePopUp();">
        Tạo
    </button>
</header>
<div class="wrapper">
    <ul class="catalogList">
        @foreach (var item in Model)
        {
            <li>
                @item.Category_Name
                <span>
                    <i class="fa fa-ellipsis-h">
                        <ul class="sublist">
                            <li>
                                <button onclick="ShowEditPopUp(@item.Category_id)" class="edit-btn" data-modal="modal1">
                                    <i class="fa fa-pencil" aria-hidden="true"></i>
                                    Sửa
                                </button>
                            </li>
                            <li>
                                <button onclick="ShowDeletePopUp(@item.Category_id)" class="delete-btn" data-modal="modald1">
                                    <i class="fa fa-trash" aria-hidden="true"></i>
                                    Xóa
                                </button>
                            </li>
                        </ul>
                    </i>
                </span>
            </li>
        }

    </ul>
</div>


<div id="show-popup"></div>
    

<script type="text/javascript">
    function ShowCreatePopUp() {
        $.ajax({
            type: "GET",
            url: '@Url.Action("Create", "Categories")',
            data: {},
            dataType: "html",
            success: function (data) {
                $("#show-popup").html(data);
                $("#myCreateModal").modal("show");
            },
            error: function (data) {
                return false;
            }
        });
    };
    function ShowEditPopUp(categoryID) {
        $.ajax({
            type: "GET",
            url: "Edit",
            data: { categoryID },
            dataType: "html",
            success: function (data) {
                $("#show-popup").html(data);
                $("#myEditModal").modal("show");
            },
            error: function (data) {
                return false;
            }
        });
    };
    function ShowDeletePopUp(categoryID) {
        $("#loader-div")
        $.ajax({
            type: "GET",
            url: "Delete",
            data: { id: categoryID },
            dataType: "html",
            success: function (data) {
                $("#show-popup").html(data);
                $("#myDeleteModal").modal("show");
            },
            error: function (data) {
                return false;
            }
        });
    };
</script>