@model IEnumerable<MeetingManagement.Models.AspNetUser>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@*search component*@
<div class="col-sm-12 col-sm-12-fix01">
    <div class="create-and-search">
        <div class="form-inline pull-right">
            <label>Search</label>
            <input type="text" class="form-control" id="txtSearch" />
            <button type="button" class="btn btn-success" data-toggle="modal" onclick="getCreateModal()">Create New</button>
        </div>
    </div>

    @*table component*@
    <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#listAccount">Danh sách tài khoản</a></li>
        <li><a data-toggle="tab" href="#otherAccount">Tài khoản khách</a></li>
    </ul>

    <div class="tab-content">

        @*account tab*@
        <div id="listAccount" class="tab-pane fade in active">
            <br />
            <div id="grdUserView"></div>
        </div>

        @*other account tab*@
        <div id="otherAccount" class="tab-pane fade">
            <br />
            @Html.Action("GetOtherUser", "AspNetUsers")
        </div>
    </div>
    <div id="Popup"></div>
</div>


<style>
    .create-and-search {
        padding-left: 0px;
        padding-right: 0px;
        width: 100%;
       
    }

    .col-sm-12-fix01 {
        position: relative;
       
        
    }
</style>
@section scripts{
    <script type="text/javascript">
    $(document).ready(function () {
        $('#grdUserView').append('#myTable');
    });
    $(() => {
        getUser();
        $('#txtSearch').on('keyup', () => {
            getUser();
        })
    });
    function getUser() {
        $.ajax({
            url: '@Url.Action("SearchUser", "AspNetUsers")',
            datatype: 'html',
            method: 'GET',
            data: { searchText: $('#txtSearch').val() },
            success: function (res) {
                $('#grdUserView').html('').html(res);
            },
            error: function (err) {
                console.log(err);
            }
        })
    }
     function getCreateModal() {
        $.ajax({
            url: "Create",
            datatype: 'html',
            method: 'GET',
            data: {},
            success: function (data) {
                $("#Popup").html(data);
                $("#modalCreate").appendTo("body").modal("show");
            },
            error: function (err) {
                console.log(err);
            }
        })
     }
    </script>
}
