@model IEnumerable<MeetingManagement.Models.AspNetUser>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

    <div class="col-sm-12 col-sm-12-fix01">
        <div class="create-and-search">
            <div class="form-inline pull-right">
                <label>Search</label>
                <input type="text" class="form-control" id="txtSearch" />
                <button type="button" class="btn btn-success" data-toggle="modal" onclick="getCreateModal()">Create New</button>
            </div>
        </div>
        <div id="grdUserView"></div>
        <div id="Popup"></div>
    </div>
    
    
    <style>
        .create-and-search {
            padding-left: 0px;
            padding-right: 0px;
            width: 1252px;
            height: 50px;
        }

        .col-sm-12-fix01{
            position:relative;
            top:100px;
        }
    </style>
    @section scripts{
        <script type="text/javascript">
    $(document).ready(function () {
        $('#grdUserView').append('#myTable');
    });
    $(() => {
        getUser();
        $('#txtSearch').on('keyup', () => {
            getUser();
        })
    });
    function getUser() {
        $.ajax({
            url: '@Url.Action("SearchUser", "AspNetUsers")',
            datatype: 'html',
            method: 'GET',
            data: { searchText: $('#txtSearch').val() },
            success: function (res) {
                $('#grdUserView').html('').html(res);
            },
            error: function (err) {
                console.log(err);
            }
        })
    }
     function getCreateModal() {
        $.ajax({
            url: "Create",
            datatype: 'html',
            method: 'GET',
            data: {},
            success: function (data) {
                $("#Popup").html(data);

                $("#modalCreate").modal("show");
            },
            error: function (err) {
                console.log(err);
            }
        })
        }
        </script>
    }
