@model IEnumerable<MeetingManagement.Models.AspNetUser>

@{
    ViewBag.Title = "Index";
}

<h2>Danh sách tài khoản</h2>
<div class="row">
    <div class="col-sm-12">
        <div style="margin-bottom:20px" class="form-inline pull-right">
            @*@Html.("Create New", "Create")*@
            <a href="@Url.Action("Create", "AspNetUsers")">
                <input type="button" value="Create New" />
            </a>
            <br />
        </div>
    </div>

    <div class="col-sm-12">
        <div class="form-inline pull-right">
            <label>Search</label>
            <input type="text" class="form-control" id="txtSearch" />
        </div>
    </div>
</div>
<div id="grdUserView"></div>

@section scripts{
    <script type="text/javascript">
    $(document).ready(function () {
        $('#grdUserView').append('#myTable');
    });
    $(() => {
        getUser();
        $('#txtSearch').on('keyup', () => {
            getUser();
        })
    });
    function getUser() {
        $.ajax({
            url: '@Url.Action("SearchUser", "AspNetUsers")',
            datatype: 'html',
            method: 'GET',
            data: { searchText: $('#txtSearch').val() },
            success: function (res) {
                $('#grdUserView').html('').html(res);
            },
            error: function (err) {
                console.log(err);
            }
        })
    };
    </script>

}
