@model MeetingManagement.Models.AspNetUser

<link href="~/Content/catalog-list.css" rel="stylesheet" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div id="myResetPasswordModal" class="modal fade" role="dialog">
    <div class="modal-dialog" style="width:460px; position:relative; top:200px; z-index: 1200">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Đặt lại mật khẩu cho @Html.DisplayFor(model => model.Email)</h4>
            </div>
            <div class="modal-body">
                <form action="ResetPassword" method="post" id="formReset">
                    @Html.HiddenFor(model=>model.Id)
                    @Html.DisplayFor(model => model.Email)
                    <div class="catalog-form_group form-group">
                        <input type="password" id="password" placeholder="Mật khẩu" required />
                    </div>
                    <div class="catalog-form_group form-group">
                        <input type="password" id="txtConfirm" placeholder="Xác nhận mật khẩu" required />
                    </div>
                    <p id="messages"></p>
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn--primary" onclick="ResetPassword()">Reset</button>
                <button class="btn btn-normal " data-dismiss="modal">Hủy</button>
            </div>
        </div>
    </div>
</div>

<script>
function ResetPassword() {
var Id = $("#Id").val();
var password = $("#password").val();
var confirm = $("#txtConfirm").val();
if (password == "" || confirm == "") {
    $("#messages").text('Vui lòng nhập mật khẩu');
} else {
    if (password != confirm) {
        $("#messages").text('Mật khẩu không trùng khớp');
    }
    else {
        $.ajax({
            type: "POST",
            url: '@Url.Action("ResetPassword", "AspNetUsers")',
            data: { Id, password },
            success: function () {
                $("#myResetPasswordModal").modal("hide");
                alert("Bạn đã đặt lại mật khẩu thành công");
            }
        })
    }
}


}

</script>