@model MeetingManagement.Models.AspNetUser

<div id="myResetPasswordModal" class="modal fade" role="dialog">
    <div class="modal-dialog" style="width:460px; position:relative; top:200px; z-index: 1200">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Đặt lại mật khẩu</h4>
            </div>
            <div class="modal-body">
                <form action="ResetPassword" method="post" id="formReset">
                    @Html.HiddenFor(model=>model.Id)
                    <div class="form-group">
                        @Html.DisplayFor(m=>m.Email, new { @class = "col-md-4  custom-control-label" })
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" id="password" placeholder="Mật khẩu" required />
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" id="txtConfirm" placeholder="Xác nhận mật khẩu" required />
                    </div>
                    <p id="messages"></p>
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn--primary" onclick="ResetPassword()">Reset</button>
                <button class="btn btn-normal " data-dismiss="modal">Hủy</button>
            </div>
        </div>
    </div>
</div>

<script>
function ResetPassword() {
var Id = $("#Id").val();
var password = $("#password").val();
var confirm = $("#txtConfirm").val();
if (password == "" || confirm == "") {
    $("#messages").text('Vui lòng nhập mật khẩu');
} else {
    if (password != confirm) {
        $("#messages").text('Mật khẩu không trùng khớp');
    }
    else {
        $.ajax({
            type: "POST",
            url: '@Url.Action("ResetPassword","AspNetUsers")',
            data: { Id, password },
            success: function () {
                $("#myResetPasswordModal").modal("hide");
                alert("Bạn đã đặt lại mật khẩu thành công");
            }
        });
    }
}


}

</script>